h1{
    text-align: center;
    border: 2px solid;
    background-color: aquamarine;
}
.search{
    margin-left: 1000px;
    margin-bottom: 10px;
}
ul{
    list-style: none;
}

li{
    width: 100px;
    height:100px;
    border-radius:0px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    /* background-color: azure; */
    display: inline;
    margin-right: 10px;
}
li:hover{
    color: brown;
    background-color: aqua;
}
div{
    text-align: center;
}
body{
    background-image: url(institute-overview.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}